{% extends 'clinica/index.html' %}
{%load static %}

{% block menu %}
<div class="container">
    <div class="p-4 p-md-2 mb-2 rounded text-bg-dark">
        <div class="col-md-6 px-0">
            <h3 class="display-4 fst-italic">Cadastro</h3>
        </div>
    </div>
<p class="mb-5">Confirme os dados antes de excluir definitivamente!</p>

    <form action="" method="POST" class="mb-5">
        <p class="rounded text bg-primary col-4 p-2">Deseja excluir o registro: <b>{{ object }}</b></p>
        {% csrf_token %}

        {{form.as_p}}

    <button type="submit" class="btn btn-danger my-5"> Excluir </button>

    </form>
</div>
{% endblock %}