{% extends 'clinica/index.html' %}
{%load static %}
{% load crispy_forms_tags %}

{% block menu %}
<div class="col-5 m-auto mb-2 p-2"">
    {% if request.user.is_authenticated %}
        <h5 style="text-align: center;"> Atenção!! Ação não permitida!</h5>
    <div class="p-4 p-md-2 mb-4 rounded text-bg-dark"">
        
        <p class="lead">
            <strong>
                Houve algum problema para processar a ação desejada ou você não tem permissão para esta ação?
            </strong>
        </p>
        {% else %}
        <div class="col-md-11 px-0">
            <h5 class="display-4 fst-italic text text-center"  style="font-size: 25px;">Autenticação</h5>
        </div>
    </div>

    <form action="" method="POST" class="m-2">
        
        
        {% csrf_token %}

        {{ form|crispy }}

    <button type="submit" class="btn btn-primary my-5"> Entrar </button>

    </form>
    {% endif %}
</div>
{% endblock %}